body{
   
   background-color: rgba(175, 226, 241, 0.911);
   color: black;
   font-size: 1.2em;
   font-weight: bold;
}
fieldset{
    border: 3px black solid;
    border-radius: 10px;;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    
}
input[type="submit"]{
       border-radius: 10px;
       background-color: rgb(101, 121, 175);
       color: black;
       cursor: pointer;
       font-size: 1.2em;
       font-weight: bold;
       padding: 10px;

}