body{   
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-image:url('login.jpg');
    font-family: sans-serif;
}
fieldset{
    /* box-shadow: 4px 4px 4px rgba(117, 117, 117, 0.3); */
    border-radius: 10px;
    border-style:ridge;
    border-color: #8cd4d4 ;
    margin: 20px auto;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
    width: 20%;    
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background: linear-gradient(135deg, #118792 , #18397a); /* Degradado diagonal */
    color: white;
    padding: 30px;
}
input[type="submit"]{
    border-radius: 5px;
    background-color: #118792;
    color: white;
    cursor: pointer;
    font-size: 1.0em;
    font-weight: bold;
    padding: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
legend{
    font-size:25px;
    color:white;
    /* text-shadow:1px  0px 0px black,
                0px  1px 0px black,
                -1px  0px 0px black,
                0px -1px 0px black; */
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
img{
    margin-top:10px;
    width: 30%; /* Ajusta el ancho al contenedor */
    height: auto; /* Mantiene la proporción */
}
span{
    font-family: 'Arial', sans-serif;
    font-size: 2rem; /* Tamaño grande para destacar */
    font-weight: bold;
    color: #18397a;
    text-align: center;
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    margin: 40px 0; /* Espaciado superior e inferior */
    padding-left: 3%;
}
#button{
    font-size: 17px;
    padding: 7px 13px; /* Espaciado interno */
    border-style:solid;
    border-width: 1px;
    border-color: #14aca6 ;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
    /* width: 235px; */
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#button:hover{
    background-color: #14aca6;
}
#field1, #field2{
    font-size: 16px;
    padding: 7px 7%; /* Espaciado interno */
    border-color: #14aca6 ;
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}