*{
    padding:0px;
    margin:0px;
}
#Encabezado {
      margin:auto;
      font-family: Arial, Helvetica, sans-serif;
}
ul, ol{
    list-style: none;
}
.nav li a {
    background-color: #118792;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: large;
    font-weight: bold;
}
.nav li a:hover{
    background-color: #c5e1e4;
    color: #14aca6;
}

/* acomoda en la parte superior */
.nav > li {
    float:left;
}
.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
.nav li ul li ul{
    right: -140px;
    top:0px;
}
/* imagen de fondo */
body{
    margin: 0;
    padding: 0;
    background: url(fondo0.jpg);
    background-size: cover;
    font-family: sans-serif;
}