* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed; /* Fija el header */
    top: 0;          /* Lo coloca en la parte superior */
    left: 0;
    width: 100%;
    background-color: white;
    /*z-index: 1000;   /* Evita que otros elementos lo tapen */
}

.img-logo {
    margin-top:10px;
    width: 30%; /* Ajusta el ancho al contenedor */
    height: auto; /* Mantiene la proporción */
}

span {
    font-family: 'Arial', sans-serif;
    font-size: 2rem; /* Tamaño grande para destacar */
    font-weight: bold;
    color: #18397a;
    text-align: center;
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    margin: 40px 0; /* Espaciado superior e inferior */
    padding-left: 3%;
    display: inline-block; 
    margin-left: 10px;
    vertical-align: top;
}

a {
    font-family: 'Arial', sans-serif;
    font-size: large;
    color: #118792;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    margin: 50px 0; /* Espaciado superior e inferior */
    padding-left: 3%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../img/fondo1.png');
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.15); /* Capa semitransparente */
    z-index: -1; /* Coloca la capa detrás del contenido */
}

main {
    background-attachment: fixed;
    padding-top: 150px;
    /* padding-left: 30px; */
}

legend {
    font-size: 9vh;
    font-weight: bold;
    color:#10818b;
    text-shadow: rgb(140, 212, 212) 3px 3px 3px;
    letter-spacing: 1px;
    margin-top: 7vh;
    margin-bottom: 40px;
    margin-left: 6vh;
}

.container {
    display: flex; /* Usamos flexbox para alinearlos en la misma fila */
    justify-content: space-between; /* Espacio entre los divs */
}

.seccion-izquierda, .seccion-derecha {
    width: 48%; /* Ocupar casi la mitad del espacio disponible */
    margin: 2.5%; /* Margen para separar visualmente las secciones */
}

.seccion-derecha {
    margin-top: 1px;
    margin-left: 50px;
        font-family:sans-serif;
    /* font-weight:bold; */
    background-color: rgba(197, 225, 228, 0.521);
    border: none;
    border-radius: 20px;
    height: 110%;
    width: 45%;
    text-align: center;
    padding-bottom: 50px;
}

.options {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border-width: 5px;
    background-color: #118792;
    padding: 15px;
    margin-bottom: 1px;
    width: 80%;
    text-align: center;
    letter-spacing: 2px;
    /* pointer-events: auto; */
    /* z-index: 9999; */
}

.options:hover {
    background-color: #0e6a6f;
    transition: background-color 0.3s ease;
}
